section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container .row {
  display: flex;
  justify-content: center;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
